.nav-flex{
    display : flex;
    align-items: center;
    justify-content: space-around;
   padding: 10px;
   box-shadow: 1px 2px 2px rgb(240, 236, 236);
   position: relative;
   width: 100%;
   cursor: pointer;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: white;
}
.logo{
    width: 6%;
}
.drops{
    display: flex;
    align-items: center;
    justify-content: right;
}
p{
    color : rgb(0, 32, 138)
}
.aboutdrop{
    position: absolute;
    top: 100%;
    border-top: 3px solid rgb(0, 32, 138);
}
.aboutsqi{
    width: 200px;
    display: none;
}
.sqiabt:hover .aboutsqi{
    display: block;
    transition: all linear 1s;
}
.programmes{
    width: 200px;
    display: none;
}
h6{
    text-align: start;
}
.sqiprog:hover .programmes{
    display: block;
    transition: all linear 2s;
}
.stdh1{
    font-size: 77px;
    text-align: start;
    font-family: sans-serif;
    color: rgb(26, 0, 82);
}
.startnow{
    background-color: rgb(0, 32, 138);
    color: white;
    padding:12px 25px;
    border-radius: 10px;
   
}
.boy{
    border-radius: 0 0 3% 16%;
}
.imagediv{
    width: 100%;
    height: 80vh;
    margin: 30px 0;
    position: relative;
}
.changecolor{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(9, 5, 50, 0.8);
 text-align: end;
}
.learnmore{
    padding: 15px 26px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
.inter{
    width: 50%;
}
.makebig{
    font-size: 50px;
}
.bag{
    background-color: rgb(240, 250, 255);
}